
<!-- /.home-page -->

  <div class="home-page">
    <div class="container main-class">
      <%= image_tag('loading.png', :id=>"loading-indicator", :style=>"display:none") %>
      <h2 class="homepage-heading">Feed</h2>
      <%= render "products" %>
    </div>
    <%= link_to_next_page @products, 'Load More', :remote => true, :id=>"load_more_link" %>
  </div>
  <!-- /.home-page -->
  <script type="text/javascript">
    $(".content-bottom-like ul li a").click(function() {
        var id = $(this).attr('id');
        var url_link = '/products/'+id+'/product_likes_and_dislikes';
        var current_id = $(this).attr('class');
        $.ajax({
            url: url_link,
            type: "POST",
            data: {type: current_id},
            success: function (data) {
                if(current_id == "dislike"){
                    $("#"+id).removeClass(current_id).addClass('like');
                    $("#"+id).siblings('.like_count').html(data.count);
                }
                else{
                    $("#"+id).removeClass(current_id).addClass('dislike');
                    $("#"+id).siblings('.like_count').html(data.count);
                }
                
            }
        });
    });


  </script>