
  <div class="profile-page search-result-page">
    <div class="container">
      
        <div class="row">
          <div class="col-md-3">
            <div class="search-heading">
              <label>Recommended for you</label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="profile-rating-content">
              <div class="result-search">
                <label id="search_count"><%= @products.count %> Results Found</label>
              </div>
              <ul>
                <li><span><i class="fa fa-list-ul"></i><span id="sort_span">Sort By</span></span></li>
                <li><span><i class="fa fa-filter"></i></span></li>
                <li>
                  <select class="form-control select-option product_like_sort">
                    <option>Product Ratings</option>
                    <option value="">ASC Order</option>
                    <option value="DESC">DESC Order</option>
                  </select>
                </li>
                <li>
                  <select class="form-control select-option user_like_sort">
                    <option>User Rating</option>
                    <option value="">ASC Order</option>
                    <option value="DESC">DESC Order</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="search_partial_products">
              <%= render "search_products" %>
            </div>
            
          </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.user_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/user_sorted';
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val}
        });

    });

    $('.product_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/product_likes_sorted';
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val}
        });

    });

    // $(".user_rating ul li a").click(function() {
    //   alert("jk");
    //   var id = $(this).attr('id');
    //   var user_id = $("#user_id").val();
    //   var current_user = $("#current_user_id").val();
    //   if(user_id == current_user){
    //     alert("You can't rate yourself");
    //   }
    //   else{
    //     var url_link = '/user/rating';
    //     var current_id = $(this).attr('class');
    //     $.ajax({
    //         url: url_link,
    //         type: "POST",
    //         data: {rating_val: id, user: user_id},
    //         success: function (data) {
    //             if(data.message == "success"){
    //               for (i = 1; i <= data.rate; ++i) { 
    //                 $("#"+i).removeClass(current_id).addClass('filled-ratings1');
    //               }
    //               for (; i <= 5; ++i) { 
    //                 $("#"+i).removeClass(current_id).addClass('ratings1');
    //               }
    //             }
    //             else
    //             {
    //               alert("You already rate this user");
    //             }

                
                
    //         }
    //     });
    //   }
      
    // });

  </script>