
  <div class="profile-page search-result-page">
    <div class="container">
      
        <div class="row">
          <div class="col-md-3">
            <div class="search-heading">
              <label>Recommended for you</label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="profile-rating-content">
              <div class="result-search">
                <label>1000 Search Result</label>
              </div>
              <ul>
                <li><a href="#"><i class="fa fa-list-ul"></i><span>Sort By</span></a></li>
                <li><a href="#"><i class="fa fa-filter"></i></a></li>
                <li>
                  <select class="form-control select-option">
                    <option>Product Rating</option>
                    <option>Product Rating 1</option>
                    <option>Product Rating 2</option>
                    <option>Product Rating 3</option>
                    <option>Product Rating 4</option>
                    <option>Product Rating 5</option>
                  </select>
                </li>
                <li>
                  <select class="form-control select-option">
                    <option>User Rating</option>
                    <option>User Rating 1</option>
                    <option>User Rating 2</option>
                    <option>User Rating 3</option>
                    <option>User Rating 4</option>
                    <option>User Rating 5</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="search_partial_products">
              <%= render "search_products" %>
            </div>
            <div id="pagination"><%= paginate @search.hits %></div>
          </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.user_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/user_sorted'
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val}
        });

    });

    $('.product_like_sort').on('change', function() {
        var rate_val =  this.value ;
        var url_link = '/home/like_sorted';
        $.ajax({
            url: url_link,
            type: "GET",
            data: {rate_val: rate_val}
        });

    });

  </script>